.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

 a,a:visited{
	text-decoration: none;
	color:white;
}
a:hover{
	color:grey;
}
.logo{
	height: 33px;
	width: 50px;
	background-size:cover;
}
.navigation-logo{
	float:left;
	display:inline-block;
	width:50px;
	margin:30px 50px;
}
.navigation-logo:hover{
	cursor:pointer;
}

#site-navigation{
	width: 100%;
	border-bottom:2px solid #1b9694;
	}
#site-navigation ul li{
	padding: 10px;
	float:right;
	list-style:none;
}
#site-navigation a{
	color:#1b9694;
}


#home-banner-img{
	width: 100%;
	height: 100vh;
	position:relative;
}
#home-site-navigation{
	position:absolute;
	top:0;
	width: 90%;
	}
#home-site-navigation ul li{
	padding: 10px;
	float:right;
	list-style:none;
}

#about-banner-img{
	width: 100%;
	height: 100vh;
	position:relative;
}
#about-site-navigation{
	position:absolute;
	top:0;
	width: 90%;
	}
#about-site-navigation ul li{
	padding: 15px;
	float:right;
	list-style:none;
}
#sing-banner-img{
	width: 100%;
	height: 100vh;
	position:relative;
}
#sing-site-navigation{
	position:absolute;
	top:0;
	width: 90%;
	}
#sing-site-navigation ul li{
	padding: 15px;
	float:right;
	list-style:none;
}
