.shop-stuff-name{
	text-align:center;
}
#shop-stuff{
	display:flex;
	display:-webkit-flex;
	justify-content: center;
}
.shop-stuff-item{
	width:20%;
	border:5px 1px 1px 1px;
	border-style:solid;
	border-color:gray;
	text-align:center;
	margin:10px;
	padding:8px;
}
.shop-stuff-descripton{
	height:8rem;
}
.shop-stuff-btn{
	border:none;
	color:white;
	background-color:#1b9694;
	border-radius:0px;
	padding:10px;
	margin:5px;
	text-shadow:none;
}
.shop-stuff-img{
	width:10vh;
}


.journal{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
}
.journal-item{
	width:30%;
	border:1px solid black;
	margin:10px;
	text-align:center;
}
.journal-btn{
	border-radius:0px;
	border:1px solid black;
	background-color:white;
	color:black;
	margin:5px;

}
.adventures{
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
	
}

.adventures-item{
	width:25%;
}
.adv-btn{
	border:1px solid black;
	border-radius:0px;
	background-color:white;
}
#more-adv-btn{
	border:none;
	color:white;
	background-color:#1b9694;
	border-radius:0px;
	padding:10px;
	margin:5px;
	text-shadow:none;

}


